/* font-family: 'Dancing Script', cursive; 

{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

html, body{
    height: 100%;
}

/* Header styling */

.site-name{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-top: 20px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.site-name:hover{
    background-color: blanchedalmond;
    font-size: 30px;
    color: black;

}

ul{
    position: absolute;
    right: 60px;
}

/* Body styling */

body{
    background-image: url("https://wallpaperaccess.com/full/240945.jpg");
    background-repeat: no-repeat;
}

.container1{
    position: relative;
    width: 980px;
}

.frame{
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 80%; 
    border-radius: 25px;
}

.paper{
    width: 350px;
    height: 450px;
    position: relative;
    left: 30%;
    border-radius: 30px;

}

.about_me{
    width: 330px;
    height: 300px;
    position: absolute;
    left: 31%;  
    top: 25%; 
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: mediumvioletred;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }