/* font-family: 'Dancing Script', cursive; 

{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

html, body{
    height: 100%;
}

/* Header styling */

.site-name{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-top: 20px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.site-name:hover{
    background-color: blanchedalmond;
    font-size: 30px;
    color: black;

}

ul {
    position: absolute;
    right: 60px;
}

/* Body styling */

body{
    background-image: url("https://wallpaperaccess.com/full/240945.jpg");
    background-repeat: no-repeat;
}

.frame{
    width: 450px;
    height: 600px;
    position: relative;
    top: 70px;
    left: 60%; 
    border-radius: 25px;
}

.grad_pic{
    width: 325px;
    height: 465px;
    position: absolute;
    left:64.5%;
    top: 39%;
    border-radius: 10px;
}

.row{
    position: relative;
    bottom: 60%;
    right: 20%;
}

.blockquote{
    color: darkmagenta;
}

