/* font-family: 'Dancing Script', cursive; 

{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

html, body{
    height: 100%;
}

/* Header styling */

.site-name{
    font-family: 'Dancing Script', cursive;
    /*look into view width and view height(vw and vh)*/
    font-size: 40px;
    padding-top: 20px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.site-name:hover{
    background-color: blanchedalmond;
    font-size: 30px;

}

ul {
    position: absolute;
    right: 60px;
}

/* Body styling */

body{
    background-image: url("https://wallpaperaccess.com/full/240945.jpg");
    background-repeat: cover;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_pic{
    border-radius: 50px;
    position: absolute;
    margin: 0 auto;
}

.button{    
    color: white;
    background-color: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    margin-left: 50px;
    position: relative;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}