font-family: 'Dancing Script', cursive; 

{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

/* Header styling */

.site-name{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-top: 20px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
}

.site-name:hover{
    background-color: blanchedalmond;
    font-size: 30px;

}

ul {
    position: absolute;
    right: 60px;
}

/* Body styling */

body{
    background-image: url("https://wallpaperaccess.com/full/240945.jpg");
}

.my_pic{
    margin-left: 45px;
    padding-left: 20px
}

.cv_button{
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 90px;
    background-color: clear;
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border-radius: 25px;
    
}

.row {
    margin-bottom: 280px;
}