font-family: 'Dancing Script', cursive; 

{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

/* Header styling */

.site-name{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-top: 20px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.site-name:hover{
    background-color: blanchedalmond;
    font-size: 30px;

}

ul {
    position: absolute;
    right: 60px;
}

/* Body styling */

body{
    background-image: url("https://wallpaperaccess.com/full/240945.jpg");
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my_pic{
    margin-left: 550px;
    margin-top: 100px;
    padding-left: 20px;
    border-radius: 50px;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button{    
    color: white;
    background-color: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    margin-left: 50px;
    position: relative;
}


.row {
    margin-bottom: 100%;
}